[PATHS]
anaconda3=~/anaconda3
anaconda2=~/anaconda2
decoder=~/Documents/inscopix_reader_linux/python/downsampler.py

[ENV_NAMES]
caiman=caiman
score=score_env
inscopix=inscopix_reader

[ROOTS]
raw=~/trifle/homes/evelien/Calcium imaging
root=~/Documents
address_remote=stiesmeyer@cn76.science.ru.nl
root_remote=/scratch/stiesmeyer/data/

[CROPS]
# croppoints for each animal, formatted as [time_start, time_end, x_start, x_end, y_start, y_end] 

32363=[200,3000,100,520,100,700]
32364=[200,3000,0,420,0,600]
32365=[200,3000,100,520,60,660]
32366=[200,3000,100,520,60,660]

